.mainContainer {
  padding: 0 2.4rem 6rem;
  max-width: 1110px;
  margin: 0 auto;
}

.jobList {
  display: flex;
  flex-direction: column;
  
  gap: 4.75rem;
  margin-top: 6rem;
  padding: 0;
}

@media (min-width: 768px) {
  .jobList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 327px);
    justify-content: center;
    gap: 4.75rem 3rem;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    max-width: 1109px;
  }
  
  .jobList {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem;
  }
}
